@font-face {
  font-family: VariableBlack;
  src: url('./assets/fonts/VariableBlack.otf');
}

@font-face {
  font-family: NahdiBlack;
  src: url('./assets/fonts/NahdiBlack.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 80vh;
}

.nahdi-background {
  min-height: 80vh;
  background-image: url('./assets/images/nahdi-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

body {
  margin: 0;
}

.presentation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
