@font-face {
  font-family: VariableBlack;
  src: url('./assets/fonts/VariableBlack.otf');
}

@font-face {
  font-family: NahdiBlack;
  src: url('./assets/fonts/NahdiBlack.ttf') format('truetype');
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 80vh;
}

body {
  margin: 0;
}

.presentation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}
